.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(108, 99, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background-color 0.3s ease;
  display: none;
  
  &.hover {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.5;
  }
}

@media (min-width: 1024px) {
  .cursor {
    display: block;
  }
}
